Nico Vergauwen <nico@livepeer.org> <nico@Nicos-MacBook-Pro.local>
Nico Vergauwen <nico@livepeer.org> <vergauwennico@gmail.com>
Elad Mallel <eladmallel@gmail.com> eladmallel <eladmallel@gmail.com>
Rafał Leszko <rafal@livepeer.org> Rafal Leszko <rafal@livepeer.org>
